neuralcoref/
detectron/
env/
mmf/
model_data/
vqa-maskrcnn-benchmark/
apex/

visualizer/visualizer-output/
visualizer-output/

__pycache__/
.ipynb_checkpoints/
graph/

*.swp
*.mp4
*.png
*.vtt
*.json
!visualizer/sample_action_graph.json
!datasets/annotations/*.json
!datasets/yc2_bb/annotations/*.json
